<html>
<head>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body background = "background.PNG" style="padding: 2%;">
	<h3> About </h3>
	<hr>
	<p>A chemical element is a species of atoms having the same number of protons in their atomic nuclei. 118 elements are identified, of which the first 94 occur naturally on Earth with the remaining 24 being synthetic elements.</p>
	<p>The periodic table is a tabular arrangement of the chemical elements, ordered by their atomic number, electron configuration, and recurring chemical properties, whose structure shows periodic trends. Generally, within one row the elements are metals to the left, and non-metals to the right, with the elements having similar chemical behaviours placed in the same column .</p>

	<h4> Vibranium </h4>
	<p> Vibranium is a web application for learning about the elements. It consists of an interactive periodic table. The periodic table has the following information</p>
	<ol>
		<li>Tabular arrangement of elements with the ability to sort them by their properties</li>
		<li>A slider to determine the state of an element at a particular temperature</li>
	</ol>
	<p> On clicking on an element, you get the following information about an element</p>
	<ol>
		<li> A table with properties of the element. </li>
		<li> A summary with a slider which allows us to control the length of the summary. </li>
		<li> An animation of the Bohr's model of the element.</li>
	</ol>
	<p> It also consists of an Equation Balancer which is a tool to balance equations.</p>
	<h4>Design</h4>
	<img src = "../static/design.PNG" style="width: 50%;" />
	<h4>Contribute</h4>
	<p>The project is hosted on <a href="https://github.com/spadaval/Vibranium">Github</a>. We are not following any strict standards for now. You may report an issue in case of a problem or also make a pull request. Make sure you document whatever changes you make.</p>
	<p> This project is currently being managed by
		<table style="width: 25%;">
			<thead><td>Name</td><td>USN</td></thead>
			<tr><td>Sumeet Padavala</td><td>01FB15ECS315</td></tr>
			<tr><td>Varun Vora</td><td>01FB15ECS342</td></tr>
			<tr><td>Vishal Krishna Kumar P</td><td>01FB15ECS354</td></tr>
		</table>
	<hr>
	<p> Last updated on 23rd November 2018 </p>



</body>
</html>