<html>
<head>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="padding: 2%;">
	<h1> About </h1>
	<hr>
	<p>A chemical element is a species of atoms having the same number of protons in their atomic nuclei. 118 elements are identified, of which the first 94 occur naturally on Earth with the remaining 24 being synthetic elements.</p>
	<p>The periodic table is a tabular arrangement of the chemical elements, ordered by their atomic number, electron configuration, and recurring chemical properties, whose structure shows periodic trends. Generally, within one row the elements are metals to the left, and non-metals to the right, with the elements having similar chemical behaviours placed in the same column .</p>

	<h2> Vibranium </h2>
	<p> Vibranium is a web application for learning about the elements. It consists of an interactive periodic table. The periodic table has the following information</p>
	<ol>
		<li> A table with properties of the element. </li>
		<li> A summary with a slider which allows us to control the length of the summary. </li>
		<li> An animation of the Bohr's model of the element.
	</ol>
	<p> It also consists of an Equation Balancer which is a tool to balance equations.</p> 


</body>
</html>