<html>
<head>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <base href="https://raw-dot-custom-elements.appspot.com/FlorianFe/chemical-element-visualisation/v1.0.4/chemical-element-visualisation/">
  <link rel="import" href="chemical-element-visualisation.html">
  <script type="text/javascript">
    var element = "{{ELEMENT}}";
    var set_summary = function() {
          var slider = document.getElementById("myRange");
          length = slider.value;
          var request_str = "http://127.0.0.1:5000/summary/" + element + "/" + length;
          var xhr = new XMLHttpRequest();
          xhr.open("GET", request_str, true);
          xhr.send();

          xhr.onreadystatechange = function() {
              if (this.readyState == 4 && this.status == 200) {
                  document.getElementById("summary_text").innerHTML = xhr.response;     
              }
          }
    }   

    var init = function() {
      set_summary();
      var request_str = "http://127.0.0.1:5000/data/" + element;
      var xhr = new XMLHttpRequest();
      xhr.open("GET", request_str, true);
      xhr.send();
      xhr.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            json_response = JSON.parse(xhr.responseText);
            document.getElementById("element-name").innerHTML = json_response["name"]
            table = document.getElementById("properties");
            for (var key in json_response) {
              if (key != "text") {
                row = document.createElement("tr");
                property = document.createElement("td");
                measure = document.createElement("td");
                property.innerHTML = key;
                measure.innerHTML = json_response[key];
                row.appendChild(property);
                row.appendChild(measure);
                table.appendChild(row);
              }
          }
          animation = document.getElementById("animation");
          animation.symbol = element;
      }
    }
    temp = document.getElementById("preload")
    temp.parentNode.removeChild(temp);
  }
	</script>
</head>

<body onload="init();" style="padding: 2%;">
    <div class="progress" id="preload" style="position: absolute; top:50%; width: 50%; align-self: center; left:35%;">
      <div class="indeterminate"></div>
  </div>
        
  <h2 id="element-name"></h2>
  <table id="properties" style="width: 48%;">
  </table>

    <chemical-element-visualisation symbol="" tooltip="false" id = "animation" style="width: 25%; position: absolute; left:60%; top:2%;">
    
  </chemical-element-visualisation>

  <div style="width: 45%; position: absolute; left:52%; top:48%;">
    <h4> Summary </h4>
   <form action="#">
    <p class="range-field">
      <input type="range" id="myRange" min="2" max="15" value="5" oninput="set_summary();" />
    </p>
  </form>
        
  <div id="summary_text"></div>
</div>

  
</body>

</html>
